<!-- IF VAR -->
	<!-- BEGIN error -->
	 <fieldset>
		<legend>Error</legend>
		<!-- IF error.THERE -->{L_ERROR_THERE}	
		<!-- ELSE --><!-- IF error.LOGIN_NAME -->{L_ERROR_LOGIN_NAME}<!-- ENDIF -->
		<!-- IF error.PASSWORD -->{L_ERROR_PASSWORD}<!-- ENDIF -->
		<!-- IF error.PASSWORD_W -->{L_ERROR_PASSWORD_W}<!-- ENDIF --><!-- ENDIF -->		
	 </fieldset>
	 <!-- END error -->
<!-- ENDIF -->

<form method="post" action="login.php?case=login">
	<fieldset>
		<legend>Administrator Login</legend>
		<dl>
			<dt><label for="username">Username:</label></dt>
			<dd><input id="login_name" type="text" size="25" maxlength="30" name="login_name" value="" /></dd>
		</dl>
		<dl>
			<dt><label for="password">Password:</label></dt>
			<dd><input id="password" type="password" size="25" maxlength="30" name="password" value="" /></dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" name="submit" value="Login" />
	</fieldset>
</form>