<h1>{LINK_UPDATE}</h1><br />
<p><?php echo $update_desc_long; ?>
<!-- IF LINK -->
<fieldset>
	<legend>Update Now!</legend>
	{L_ACTUAL_NOW}<br/>
	<div align="center"><b><a href="{LINK}">{LINK}</a></b></div>
</fieldset>
<!-- ENDIF -->	
<fieldset>
	<legend>Update?</legend>
	<div align="center"><b>{VERSION_CHECK}</b></div><br/>
	<dl>
		<dt><label for="site_title">{L_INSTALLED_VERSION}:</label><br /></dt>
		<dd>{VERSION}</dd>
	</dl>
	<dl>
		<dt><label for="site_title">{L_ACTUAL_VERSION}:</label><br /></dt>
		<dd>{NEW}</dd>
	</dl>
</p>