	<div id="content">
		<div class="post">
			<h2>FAQ</h2>
			<h3>{L_FAQ_DESC}</h3><br/>
			<fieldset>
				<legend>List</legend>
				<ul>
				<!-- BEGIN faq -->
					<li>
						<a href="faq.php#{faq.ID}">{faq.HEADLINE}</a>
					</li>
				<!-- END faq -->
				</ul>
			</fieldset>
			<br/>
				<!-- BEGIN faq -->
					<a name="{faq.ID}"></a>
					<fieldset>
						<legend><b>Frage: {faq.HEADLINE}</b></legend>
						<b>Antwort:</b> {faq.DESCRIPTION}
					</fieldset>
					<br/>
				<!-- END faq -->
		</div>
	</div>	