<div id="content">
	<div class="post">
		<h2>{LINK_STATS}</h2>
		<h3>{L_STATS_DESC}<b>{TIME}</b></h3>
		<table style="width:70%;" cellspacing="1">
			<tr>
				<th class="th">{L_DESC}></th>
				<th class="th">{L_FIELD}</th>
			</tr>
			<tr class="row2">
				<td><b>{L_FORUMS_DESC}</b></td>
				<td><i>{FORUMS}</i></td>
			</tr>
			<tr class="row1">
				<td><b>{L_CAT_DESC}</b></td>
				<td><i>{CAT}</i></td>
			</tr>
			<tr class="row2">
				<td><b>{L_MEMBERS_DESC}</b></td>
				<td><i>{MEMBERS}</i></td>
			</tr>
			<tr class="row1">
				<td><b>{L_TOPICS_DESC}</b></td>
				<td><i>{TOPICS}</i></td>
			</tr>
			<tr class="row2">
				<td><b>{L_ANSWERS_DESC}</b></td>
				<td><i>{ANSWERS}</i></td>
			</tr>
			<tr class="row1">
				<td><b>{L_GROUPS_DESC}</b></td>
				<td><i>{GROUPS}</i></td>
			</tr>
			<tr class="row2">
				<td><b>{L_RANKS_DESC}</b></td>
				<td><i>{RANKS}</i></td>
			</tr>
		</table>
	</div>
</div>