	<div id="content">
		<div class="post">
			<h2>{L_USER_MENU}</h2>
			<!-- IF not LOGGED_IN -->
			<h3>{L_USER_DESC_NOT_LOGGED_IN}</h3><br/>	
			<!-- BEGIN error -->
				 <fieldset>
					<legend>{L_MELDUNG}</legend>
					<!-- IF error.DEL -->{L_DEL_DESC}<!-- ENDIF -->
					<!-- IF error.LOGIN_NAME -->{L_ERROR_LOGIN_NAME}<!-- ENDIF -->
					<!-- IF error.THERE -->{L_ERROR_THERE}<!-- ENDIF -->
					<!-- IF error.PASSWORD -->{L_ERROR_PASSWORD}<!-- ENDIF -->
					<!-- IF error.PASSWORD_W -->{L_ERROR_PASSWORD_W}<!-- ENDIF -->
				 </fieldset>
			 <br/>
			<!-- END error -->
			<fieldset>
				<legend>Login</legend>
				<form method="post" action="login.php">
					<table>
						<tr>
							<th style="padding: 15px 0 0 0px;">Domain:</th>
							<td><input type="text" name="login_name" id="search-text" value="Login-Name" onclick="this.value=''"/></td>
						</tr>
						<tr>
							<th style="padding: 15px 0 0 0px;">Password:</th>
							<td><input type="password" name="password" id="search-text" value="Password" onclick="this.value=''"/></td>
						</tr>
						<tr>
							<td colspan="2"style="padding: 15px 0 0 0px;" align="center">
								<input type="submit" name="submit" value="Login"/> 
								 <input type="reset" name="submit" value="Reset"/>
							</td>
					</table>
				</form>
		</form>
			</fieldset>
			<!-- ELSEIF LOGGED_IN -->
				<h3>{L_USER_DESC_LOGGED_IN}</h3><br/>
				<!-- BEGIN error -->
				 <fieldset>
					<legend>{L_MELDUNG}</legend>
					<!-- IF error.PASSWORD_W_H -->{L_ERROR_PASSWORD_W_H}<!-- ENDIF -->
					<!-- IF error.UPDATE -->{error.UPDATE}<!-- ENDIF -->
					<!-- IF error.CAT -->{L_ERROR_CAT}<!-- ENDIF -->
					<!-- IF error.ADRESS -->{L_ERROR_ADRESS}<!-- ENDIF -->
				 </fieldset>
				 <br/>
				<!-- END error -->
				<form method="post" action="user.php">
				<!-- BEGIN data -->
				<fieldset>
					<legend>{L_FORUM}</legend>
					<table>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_TITLE_FORUM}: (optional)</th>
							<td><input type="text" name="title" id="input-text" value="{data.TITLE}"/></td>
						</tr>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_DESC}: (optional)</th>
							<td><input type="text" name="desc" id="input-text" value="{data.DESCRIPTION}"/></td>
						</tr>
						<tr>
							<th>{L_CATEGORY}:</th>
							<td>
							<!-- END data -->
								<select name="category" >
								<!-- BEGIN cat -->
									<option value="{cat.ID}" <!-- IF cat.SELECTED -->selected="selected"<!-- ENDIF -->>{cat.HEADLINE}</option>
								<!-- END cat -->
								</select>
							<!-- BEGIN data -->
							</td>
						</tr>
					</table>
				</fieldset><br/>
				<fieldset>
					<legend>{L_OTHER}</legend>
						<table>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_YOUR_EMAIL}:</th>
							<td><input type="text" name="adress" id="input-text" value="{data.MAIL}" /></td>
						</tr>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_WHERE}</th>
							<td><input type="text" name="where" id="input-text" value="{data.WHERE}"/></td>
						</tr>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_PASSWORD}:</th>
							<td><input type="password" name="password" id="textarea-input" value="<?php echo $_POST['password']; ?>"/></td>
						</tr>
						<tr>
							<th style="padding: 15px 0 0 0px;">{L_PASSWORD_W}:</th>
							<td><input type="password" name="password_w" id="textarea-input" value="<?php echo $_POST['password_w']; ?>"/></td>
						</tr>
					</table>
				</fieldset><br/>
				<fieldset>
					<legend>{L_DELETE}</legend>
						<table>
							<tr>
								<th>{L_DELETE}</th>
								<td><input type="checkbox" name="delete" value="true" id="input-text"/><br/>{L_DELETE_DESC}</td>
							</tr>
					</table>
				</fieldset>
				<fieldset>
						<legend>Action</legend>
						<input type="submit" name="submit" value="{L_SEND}" /> <input type="reset" value="{L_RESET}" /> 
				</fieldset>
				<!-- END data -->
				</form>
		<!-- ENDIF -->
		</div>
	</div>