<h1>{LINK_FAQ}</h1> <br />
<!-- IF CASE == 'new' -->
<p>
	{L_NEW_DESC_LONG}
	<form method="post" action="faq.php?case=new-go">
	<fieldset>
		<legend>New Category</legend>
			<dl>
				<dt><label for="headline">{L_CATEGORY_DESC}:</label><br /><span class="explain">{L_CATEGORY_DESC_LONG}</span></dt>
				<dd><input id="headline" type="text" size="25" name="headline" value="" /></dd>
			</dl>
			<dl>
				<dt><label for="description">{L_ANSWER_DESC}:</label><br /></dt>
				<dd><textarea size="25" rows="5" cols="10" name="description"></textarea></dd>
			</dl>
	</fieldset>
	<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{L_CAT_SAVE}" />
	</fieldset>
	</form>
</p>
<!-- ELSEIF CASE == 'edit' -->
<p>
	{L_EDIT_DESC}
	<form method="post" action="faq.php?case=edit-go">
	<!-- BEGIN data -->
	<fieldset>
		<legend>Edit Category</legend>
			<dl>
				<dt><label for="headline">{L_CATEGORY_DESC}:</label><br /><span class="explain">{L_CATEGORY_DESC_LONG}</span></dt>
				<dd><input id="headline" type="text" size="25" name="headline" value="{data.HEADLINE}" /></dd>
			</dl>
			<dl>
				<dt><label for="description">{L_ANSWER_DESC}:</label><br /><span class="explain"></dt>
				<dd><textarea size="25" rows="5" cols="10" name="description">{data.DESCRIPTION}</textarea></dd>
			</dl>
	</fieldset>
	<fieldset class="submit-buttons">
			<input type="hidden" name="id" value="{data.ID}" />
			<input class="button1" type="submit" name="submit" value="{L_CAT_SAVE}" />
	</fieldset>
	<!-- END data -->
	</form>
</p>
<!-- ELSE -->
<p>{L_DESC}
<!-- IF ERROR -->
<fieldset>
		<legend>Message</legend>
		<!-- BEGIN error -->
			<!-- IF error.NO_ERROR --><font color="green">{L_NO_ERROR}</font><!-- ENDIF -->
			<!-- IF error.DEL --><font color="green">{L_DEL_TRUE}</font><!-- ENDIF -->
			<!-- IF error.NOT_THERE --><font color="red">{L_NOT_THERE}</font><!-- ENDIF -->
		<!-- END error -->
</fieldset>
<!-- ENDIF -->
	<table cellspacing="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th width="25%">Actions</th>
			</tr>
		</thead>
		<tbody>
<!-- BEGIN faq -->
				<tr class="<# TRCLASS #>">
					<td>{faq.ID}</td>
					<td>{faq.HEADLINE}</td>
					<td><a href="faq.php?case=edit&id={faq.ID}">{L_EDIT}</a> | <a href="faq.php?case=del&id={faq.ID}">{L_DELETE}</a> | <a href="faq.php?case=push_up&id={faq.ID}">UP</a> | <a href="faq.php?case=push_down&id={faq.ID}">DOWN</a></td>
				</tr>
<!-- END faq -->
		</tbody>
	</table>
	<fieldset class="quick" style="float: left;">
		<a class="button2" href="faq.php?case=new">{L_NEW_DESC}</a>
	</fieldset>
</p>
<!-- ENDIF -->