<h1>{LINK_ADMIN}</h1> <br />
<!-- IF CASE == "new" -->
<p>
	{L_NEW_DESC_LONG}
	<form method="post" action="admin.php?case=new-go">
	<fieldset>
		<legend>New Account</legend>
			<dl>
				<dt><label for="admin_name">{L_ACCOUNT_DESC}:</label><br /><span class="explain">{L_ACCOUNT_DESC_LONG}</dt>
				<dd><input id="admin_name" type="text" size="25" name="admin_name" value="" /></dd>
			</dl>
			<dl>
				<dt><label for="password">{L_PASSWORD_DESC}:</label><br /><span class="explain">{L_PASSWORD_DESC_LONG}</dt>
				<dd><input id="password" type="password" size="25" name="password" value="" /></dd>
			</dl>
	</fieldset>
	<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{L_CAT_SAVE}" />
	</fieldset>
	</form>
</p>
<!-- ELSEIF CASE == "edit" -->
<p>
	<?php echo $edit_desc;?>
	<form method="post" action="admin.php?case=edit-go">
	<fieldset>
		<legend>Edit Account</legend>
			<dl>
				<dt><label for="admin_name">{L_ACCOUNT_DESC}:</label><br /><span class="explain">{L_ACCOUNT_DESC_LONG}</dt>
				<dd><input id="admin_name" type="text" size="25" name="admin_name" value="{ADMIN_NAME}" /></dd>
			</dl>
			<dl>
				<dt><label for="password">{L_PASSWORD_DESC}:</label><br /><span class="explain">{L_PASSWORD_DESC_LONG}</dt>
				<dd><input id="password" type="password" size="25" name="password" value="{PASSWORD}" /><input type="hidden" name="password_h" value="{PASSWORD}" /></dd>
			</dl>
	</fieldset>
	<fieldset class="submit-buttons">
			<input type="hidden" name="id" value="{ID}" />
			<input class="button1" type="submit" name="submit" value="{L_CAT_SAVE}" />
	</fieldset>
	</form>
</p>
<!-- ELSE -->
<p>{L_DESC}{L_EDIT_DESC}
<!-- IF ERROR or MESSAGE -->
<fieldset>
		<legend>Message</legend>
		<!-- BEGIN error -->
			<!-- IF error.NO_ACC --><font color="red">{L_NO_ACC}</font><!-- ENDIF -->
			<!-- IF error.DEL --><font color="green">{L_DEL_TRUE}</font><!-- ENDIF -->
			<!-- IF error.NO_ERROR --><font color="red">{L_NO_ERROR}</font><!-- ENDIF -->
			<!-- IF error.ERROR_THERE --><font color="red">{L_ERROR_THERE}</font><!-- ENDIF -->
		<!-- END error -->
</fieldset>
<!-- ENDIF -->
	<table cellspacing="1">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th width="25%">Actions</th>
			</tr>
		</thead>
		<tbody>
<!-- BEGIN info -->
				<tr class="<# TRCLASS #>">
					<td>{info.ID}</td>
					<td>{info.ADMIN_NAME}</td>
					<!-- IF info.ID == '1' -->
						<td>No Actions because this is the first Admin-Account.</td>
					<!-- ELSE -->
						<td><a href="admin.php?case=edit&id={info.ID}">{L_EDIT}</a> | <a href="admin.php?case=del&id={info.ID}">{L_DELETE}</a></td>
					<!-- ENDIF -->
				</tr>
<!-- END info -->
		</tbody>
	</table>
	<fieldset class="quick" style="float: left;">
		<a class="button2" href="admin.php?case=new">{L_NEW_DESC}</a>
	</fieldset>
</p>
<!-- ENDIF -->