<h1>{LINK_DATABASE}</h1> <br />
<!-- IF CASE == 'new' -->
<p>
	{L_NEW_DESC_LONG}
	<!-- IF ERROR -->
	<fieldset>
			<legend>Message</legend>
			<!-- BEGIN error -->
				<!-- IF error.NO_CONNECT --><font color="#ff0000">{L_NO_CONNECT}</font><!-- ENDIF -->
				<!-- IF error.NO_ERROR --><font color="green">{L_NO_ERROR}</font><!-- ENDIF -->
			<!-- END error -->
	</fieldset>
	<!-- ENDIF -->
	<form method="post" action="database.php?case=new">
	<!-- BEGIN post -->
	<fieldset>
		<legend>New Database</legend>
			<dl>
				<dt><label for="server">{L_SERVER_DESC}:</label><br /><span class="explain">{L_SERVER_DESC_LONG}</dt>
				<dd><input id="server" type="text" size="25" name="SERVER" value="{post.SERVER}" /></dd>
			</dl>
			<dl>
				<dt><label for="database">{L_DATABASE_DESC}:</label><br /><span class="explain">{L_DATABASE_DESC_LONG}</dt>
				<dd><input id="database" type="text" size="25" name="DATABASE" value="{post.DATABASE}" /></dd>
			</dl>
			<dl>
				<dt><label for="user">{L_USER_DESC}:</label><br /><span class="explain">{L_USER_DESC_LONG}</dt>
				<dd><input id="user" type="text" size="25" name="USER" value="{post.USER}" /></dd>
			</dl>
			<dl>
				<dt><label for="password">{L_PASSWORD_DESC}:</label><br /><span class="explain">{L_PASSWORD_DESC_LONG}</dt>
				<dd><input id="password" type="text" size="25" name="PASSWORD" value="{post.PASSWORD}" /></dd>
			</dl>
			<dl>
				<dt><label for="register">{L_REGISTER_DESC}:</label><br /><span class="explain">{L_REGISTER_DESC_LONG}</dt>
				<dd><input id="register" type="text" size="25" name="REISTER" value="{post.REGISTER}" /></dd>
			</dl>
	</fieldset>
	<!-- END post -->
	<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{L_DATABASE_SAVE}" />
	</fieldset>
	</form>
</p>
<!-- ELSEIF CASE == 'edit' -->
<p>
{L_EDIT_DESC}
	<!-- IF ERROR -->
	<fieldset>
			<legend>Message</legend>
			<!-- BEGIN error -->
				<!-- IF error.NO_CONNECT --><font color="#ff0000">{L_NO_CONNECT}</font><!-- ENDIF -->
				<!-- IF error.NO_ERROR --><font color="green">{L_NO_ERROR}</font><!-- ENDIF -->
			<!-- END error -->
	</fieldset>
	<!-- ENDIF -->
	<form method="post" action="database.php?case=edit">
	<fieldset>
	<!-- BEGIN database -->
		<legend>Edit Database</legend>
			<dl>
				<dt><label for="server">{L_SERVER_DESC}:</label><br /><span class="explain">{L_SERVER_DESC_LONG}</dt>
				<dd><input id="server" type="text" size="25" name="server" value="{database.SERVER}" /></dd>
			</dl>
			<dl>
				<dt><label for="database">{L_DATABASE_DESC}:</label><br /><span class="explain">{L_DATABASE_DESC_LONG}</dt>
				<dd><input id="database" type="text" size="25" name="database" value="{database.DATABASE}" /></dd>
			</dl>
			<dl>
				<dt><label for="user">{L_USER_DESC}:</label><br /><span class="explain">{L_USER_DESC_LONG}</dt>
				<dd><input id="user" type="text" size="25" name="user" value="{database.USER}" /></dd>
			</dl>
			<dl>
				<dt><label for="password">{L_PASSWORD_DESC}:</label><br /><span class="explain">{L_PASSWORD_DESC_LONG}</dt>
				<dd><input id="password" type="password" size="25" name="password" value="{database.PASSWORD}" /></dd>
			</dl>
			<dl>
				<dt><label for="register">{L_REGISTER_DESC}:</label><br /><span class="explain">{L_REGISTER_DESC_LONG}</dt>
				<dd><input id="register" type="text" size="25" name="register" value="{database.REGISTER_ENABLED}" /></dd>
			</dl>
	</fieldset>
	<fieldset class="submit-buttons">
			<input type="hidden" size="25" name="id" value="{database.DATABASE_ID}" /></dd>
			<input class="button1" type="submit" name="submit" value="{L_DATABASE_SAVE}" />
	</fieldset>
	<!-- END database -->
	</form>
</p>
<!-- ELSE -->
<p>{L_DESC}
	<table cellspacing="1">
		<thead>
			<tr>
				<th>#</th>
				<th>MySQL Host</th>
				<th>Database Name</th>
				<th>MySQL Username</th>
				<th>Register Enabled</th>
				<th>Forums in DB</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		<!-- BEGIN database -->
				<tr class="<# TRCLASS #>">
					<td>{database.DATABASE_ID}</td>
					<td>{database.SERVER}</td>
					<td>{database.DATABASE}</td>
					<td>{database.USER}</td>
					<td>{database.FORUMS}</td>
					<td>{database.REGISTER_ENABLED}</td>	
					<td><a href="database.php?case=edit&id={database.DATABASE_ID}">{L_EDIT}</a></td>
				</tr>
		<!-- END database -->
		</tbody>
	</table>
	<fieldset class="quick" style="float: left;">
		<a class="button2" href="database.php?case=new">{L_NEW_DESC}</a>
	</fieldset>
</p>
<!-- ENDIF -->