<h1>{LINK_DATA}</h1><br />
<p>
<!-- IF CASE == 'edit'-->
	<!-- IF ERROR -->
		<fieldset>
			<legend>Message</legend>
			<!-- BEGIN error -->
				<!-- IF error.CAT --><font color="#ff0000">{L_ERROR_CAT}</font><br/><!-- ENDIF -->
				<!-- IF error.ADRESS --><font color="#ff0000">{L_ERROR_ADRESS}</font><br/><!-- ENDIF -->
				<!-- IF error.PASSWORD_W_H --><font color="#ff0000">{L_ERROR_PASSWORD_W_H}</font><br/><!-- ENDIF -->
			<!-- END error -->
		</fieldset>
	<!-- ENDIF -->
		<form method="post" action="data.php?case=edit-go">
			<fieldset>
				<legend>{L_FORUM}</legend>
				<table>
				<!-- BEGIN info -->
					<tr>
						<th width="25%">{L_TITLE_FORUM}: (optional)</th>
						<td><input type="text" name="title" id="input-text" value="{info.TITLE}"/></td>
					</tr>
					<tr>
						<th width="25%">{L_DESC}: (optional)</th>
						<td><input type="text" name="desc" id="input-text" value="{info.DESCRIPTION}"/></td>
					</tr>
					<tr>
						<th width="25%">{L_CATEGORY}:</th>
						<td>
				<!-- END info -->
							<select name="category" >
							<!-- BEGIN cat -->
								<option value="{cat.ID}"<!-- IF cat.SELECTED --> selected="selected"<!-- ENDIF -->>{cat.HEADLINE}</option>
							<!-- END cat -->
							</select>
				<!-- BEGIN info -->
						</td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>{L_OTHER}</legend>
				<table>
					<tr>
						<th width="25%">{L_YOUR_EMAIL}:</th>
						<td><input type="text" name="adress" id="input-text" value="{info.EMAIL}" /></td>
					</tr>
					<tr>
						<th width="25%">{L_WHERE}</th>
						<td><input type="text" name="where" id="input-text" value="{info.WHERE}"/></td>
					</tr>
					<tr>
						<th width="25%">{L_PASSWORD}:</th>
						<td><input type="password" name="password" id="textarea-input" value=""/></td>
					</tr>
					<tr>
						<th width="25%">{L_PASSWORD_W}:</th>
						<td><input type="password" name="password_w" id="textarea-input" value=""/></td>
					</tr>
				</table>
			</fieldset>
			<fieldset>
				<legend>Action</legend>
				<input type="hidden" name="domain" value="{info.DOMAIN}" />
				<input type="hidden" name="id" value="{info.ID}" />
				<input type="submit" name="submit" value="{L_SEND}" /> <input type="reset" value="{L_RESET}" /><br/><br/>
				<a href="data.php?case=config&domain={info.DOMAIN}">{L_EDIT_CONFIG}</a>
			</fieldset>
			<!-- END info -->
		</form>
<!-- ELSEIF CASE == 'config' -->
<form method="post" action="data.php?case=config-go">
		<fieldset>
			<legend>Config of {DOMAIN}.{TITLE}</legend>
			<!-- BEGIN config -->
		<dl>
			<dt><label for="{config.CONFIG_NAME}">{config.CONFIG_NAME}:</label></dt>
			<dd><input id="{config.CONFIG_NAME}" type="text" size="25" name="{config.CONFIG_NAME}" value="{config.CONFIG_VALUE}" /></dd>
		</dl>
			<!-- END config -->
	</fieldset>
	<fieldset>
		<legend>Action</legend>
		<input type="hidden" name="domain" value="{DOMAIN}" />
		<input type="submit" name="submit" value="{L_SEND}" />
	</fieldset>
	</form>
<!-- ELSE -->
{L_DATA_DESC_LONG}
	<!-- IF MESSAGE -->
		<fieldset>
			<legend>Message</legend>
			<!-- BEGIN message -->
				<!-- IF message.NO_DOMAIN --><font color="#FF0000">{L_NO_DOMAIN_TEXT}</font><br /><!-- ENDIF -->
				<!-- IF message.NO_FORUM --><font color="#FF0000">{L_NO_FORUM_TEXT}</font><br /><!-- ENDIF -->
				<!-- IF message.UPDATE_CONFIG --><font color="green">{L_UPDATE_CONFIG_TEXT}</font><br /><!-- ENDIF -->
				<!-- IF message.UPDATE --><font color="green">{L_UPDATE}</font><br /><!-- ENDIF -->
			<!-- END message -->
		</fieldset>
	<!-- ENDIF -->
	<form method="post" action="data.php?case=edit">
		<fieldset>
			<legend>Edit</legend>
			<dl>
				<dt><label for="domain">{L_SEARCH_DESC}:</label><br /></dt>
				<dd><input id="domain" type="text" size="25" name="domain" /></dd>
			</dl>
		</fieldset>
		<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{L_EDIT}" />
		</fieldset>
	</form>
	</p>
<!-- ENDIF -->