<h1>{LINK_MASS_MAIL}</h1><br />
<p>{L_MASS_MAIL_DESC}
<!-- IF ERROR -->
<fieldset>
	<legend>Error</legend>
	<!-- BEGIN error -->
		<!-- IF error.SEND -->{error.SEND}<!-- ENDIF -->
	<!-- END error -->
</fieldset>
<!-- ENDIF -->
<form method="post" action="mass_mail.php">
	<fieldset>
		<legend>{LINK_MASS_MAIL}</legend>
			<dl>
				<dt><label for="topic">{L_TOPIC}:</label></dt>
				<dd><input id="topic" type="text" size="25" name="topic" /></dd>
			</dl>
			<dl>
				<dt><label for="message">{L_MESSAGE}:</label></dt>
				<dd><textarea rows="13" name="message" cols="64"></textarea></dd>
			</dl>
	</fieldset>
	<input type="submit" value="{L_SUBMIT}" name="submit" /></p>
</form>
</p>