	<div id="content">
		<div class="post">
			<h2>{L_HEADLINE}</h2>
			<div class="entry">
				<fieldset>
					<legend>
						{L_INFORMATION}
					</legend>
				<b>{L_SITE_NAME}:</b> www.{TITLE}<br/>
				<b>{L_OWNER}:</b> {SITE_OWNER}<br/>
				<b>{L_STREET}:</b> {SITE_STREET}<br/>
				<b>{L_CITY}:</b> {SITE_CITY}<br/>
				<b>{L_FON}:</b> {SITE_FON}<br/>
				<b>{L_ICQ}:</b> {SITE_ICQ}<br/>
				<b>{L_CONTACT}:</b> <a href="contact.php" target="_blank">Direct {L_CONTACT}</a> <a href="mailto:{SITE_CONTACT}"E-Mail> {L_CONTACT}</a><br/>
				</fieldset>
				{L_DISCLAIMER}
			</div>
		</div>
	</div>