	<div id="content">
		<div class="post">
			<h2>{L_WELCOME}</h2>
			<h3>{L_RIGHT_HERE1}{TITLE}{L_RIGHT_HERE2}</h3>
			<div class="entry">
				<p>{TITLE}{L_CONTENT}{TITLE}</b></p>
			</div>
		</div>
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<ul>
			<li style="float:left;">
				<h2>{L_WHAT_YOU_GET}</h2>
				<ul>
					<li>{L_FEATURE1}</li>
					<li>{L_FEATURE2}{TITLE}</li>
					<li>{L_FEATURE3}</li>
					<li>{L_FEATURE4}</li>
					<li><a href="functions.php">Read more</a></li>
				</ul>
			</li>
			<li style="margin-left:50px; float:left;">
				<h2>{L_FREE}</h2>
				<p>{L_FREE_DESC}</p>
			</li>
			<li style="float:right;">
				<h2>{L_BEST_SOLUTIONS}</h2>
				<p>{L_BEST_SOLUTIONS_DESC}</p>
			</li>
		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>