	<div id="content">
		<div class="post">
			<h2>{L_HEADLINE}</h2>
			<h3>{L_DESC}</h3>
		</div>
	</div>
	<!-- end #content -->
	<div id="sidebar">
		<ul>
			<li style="float:left;">
				<h2>{L_MAIN1}</h2>
				<ul>
					<li>{L_CONTENT10}</li>
					<li>{L_CONTENT11}</li>
					<li>{L_CONTENT12}</li>
					<li>{L_CONTENT13}</li>
					<li>{L_CONTENT14}</li>
					<li>{L_CONTENT15}</li>
				</ul>
			</li>
			<li style="margin-left:50px;float:left;">
				<h2>{L_MAIN2}</h2>
				<ul>
					<li>{L_CONTENT20}</li>
					<li>{L_CONTENT21}</li>
					<li>{L_CONTENT22} {PHPBB_VERSION}</b></li>
				</ul>
			</li>
			<li style="float:right; margin-right:10px;">
				<h2>{L_MAIN3}</h2>
				<ul>
					<li>{L_CONTENT30}</li>
					<li>{L_CONTENT31}</li>
					<li>{L_CONTENT32}</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
		<div id="sidebar">
		<ul>
			<li style="float:left;">
				<h2>{L_MAIN4}</h2>
				<ul>
					<li>{L_CONTENT40}</li>
					<li>{L_CONTENT41}</li>
					<li>{L_CONTENT42}</li>
				</ul>
			</li>
			<li style="margin-left:50px;float:left;">
				<h2>{L_MAIN5}</h2>
				<ul>
					<li>{L_CONTENT50}</li>
					<li>{L_CONTENT51}</li>
					<li>{L_CONTENT52}</li>
				</ul>
			</li>
			<li style="float:right; margin-right:10px;">
				<h2>{L_MAIN6}</h2>
				<ul>
					<li>{L_CONTENT60}</li>
					<li>{L_CONTENT61}</li>
					<li>{L_CONTENT62}</li>
					<li>{L_CONTENT63}</li>
					<li>{L_CONTENT64}</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>